<!-- <ion-header>
    <ion-navbar color="primary">
      <ion-title>Profile</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header> -->

<ion-content background-gradient>
  <img src="assets/app/logo.png" logo-center>
  <section>
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item background-transparent>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && blur">
        </ion-input>
      </ion-item>
      <p class="err-msg">
        <span *ngIf="!loginForm.controls.email.valid &&
          loginForm.controls.email.touched">Please enter a valid email address.</span>
      </p>


      <ion-item background-transparent>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && blur">
        </ion-input>
      </ion-item>
      <p class="err-msg">
        <span *ngIf="!loginForm.controls.password.valid
          && loginForm.controls.password.touched">Your password needs more than 6 characters.</span>
      </p>

      <button ion-button block type="submit" [disabled]="!loginForm.valid" button-center  color="dark">
        Log In
      </button>
    </form>
  </section>
  <button ion-button block clear (click)="goToSignup()">
    Create a new account
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    I forgot my password :(
  </button>
</ion-content>