page-profile {
    .profile-image{
        width:100vw;
        height: 100vw;
        img{
            height: inherit;
            width: auto;
            display: block;
            margin: auto;
        }
    }

}
