<ion-header>
  <ion-navbar color="primary">
      <ion-buttons end *ngIf="userID == user?.key">
        <button ion-button (click)="gotoSupport()">
          Support
        </button>
        <button ion-button (click)="gotoProfile()">
          My Profile
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="profile-image">
    <img [src]="user?.profileImgURL || 'assets/imgs/logo/profile.png'" />
    <!-- <p>{{user?.fullName}}</p> -->
    <ion-item-divider sticky no-lines>
        {{user?.fullName}}
        <p *ngIf="user?.subcaste">{{user?.subcaste}}</p>
    </ion-item-divider>
    <ion-item *ngIf="user?.education">
      <ion-icon color="secondary" name="md-briefcase" item-start></ion-icon>
      {{user?.education}}
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" name="mail" item-start></ion-icon>
      {{user?.email}}
    </ion-item>
    <ion-item *ngIf="user?.mobile">
      <ion-icon color="secondary" name="md-call" item-start></ion-icon>
      {{user?.mobile}}
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" *ngIf="user?.gender == 'MALE'" name="male" item-start></ion-icon>
      <ion-icon color="secondary" *ngIf="user?.gender == 'FEMALE'"name="female" item-start></ion-icon>
      <ion-icon color="secondary" *ngIf="user?.gender == 'OTHER'"name="md-person" item-start></ion-icon>
      {{user?.gender}}
    </ion-item>
    <ion-item *ngIf="user?.city">
      <ion-icon color="secondary" name="md-map" item-start></ion-icon>
      {{user?.city}}
    </ion-item>
  </section>
  <ion-list-header *ngIf="posts?.length > 0">
    Posts
  </ion-list-header>
  <section class="status-card" *ngFor="let post of posts | reverse">
      <post [post]="post" [showlikes]="false"></post>
  </section>


</ion-content>