page-user-initial-detail {
    ion-label {
        margin-left: 5px;
        color: white !important;
      }
    
      ion-input {
        padding: 5px;
        color: white;
      }
      [ion-button]{
        color: white;
      }
}
