page-feed {
    ion-content{
        background: #dfe6e9 !important;
    }
    ion-header{
        .label-md {
            margin: 0px !important;
            margin-top: 5px !important;
        }
    }


    .logo-header{
        img{
            width: 40px;
            height: auto;
        }
        h1{
            display: inline;
            font-weight: 900;
            color: color($colors,danger) !important;
            position: relative;
            top: -12px;
            font-style: inherit;
            // font-family: cursive;
        }
    }

    .post-tap{
        width: 100%;
        border-radius: 25px;
        background: #dedede;
        padding: 20px;
        padding-top: 7px;
        padding-bottom: 7px;

    }
}
