page-chat-list {
    ion-content{
        h1{
            color: grey;
            font-size: 40px;
            text-align: center;
            margin-top: 30vh !important;
            font-style: italic;
        }
        p{
            color: lightblue;
            font-size: 20px;
            text-align: center;
        }
    }

}
