page-reset-password {
    form {
      margin-bottom: 32px;
  
      button {
        margin-top: 20px;
      }
    }  
  
    .invalid {
      border-bottom: 1px solid #ff6153;
    }
    ion-label {
      margin-left: 5px;
      color: white !important;
    }
  
    ion-input {
      padding: 5px;
      color: white;
    }
    [ion-button]{
      color: white;
    }
  }
  