post {
    ion-content{
        background: #dfe6e9 !important;
    }
    .status-card{
        position: relative;
        // ion-item-divider{
        //     // background: #D2D7D3 !important;
        // }
        div.post-content{
            padding: 10px !important;
            margin: 5px;
            p.text{
                font-size: 40px !important;
                text-align: center;
            }
        }
        position: relative;
        margin-bottom: 5px;
        padding-bottom: 25px;
        background: white;
        .like-count{
            position: absolute;
            padding-left: 5px;
            color: color($colors, secondary)
        }
        button.button-like{
            right: 59px;
            position: absolute;
            bottom: 7px;
            width: 40px;
            height: 40px;
        }
        button.button-share{
            right: 9px;
            position: absolute;
            bottom: 7px;
            width: 40px;
            height: 40px;
            background: white;
        }
    }

    .video-card{
        ion-card-content{
            iframe{
                margin: auto;
                display: block;
            }
        }
    }

    .post-img{
        border: 0;
        width: 100%;
        max-height: 60vh;
        object-fit: cover;
    }

}
