<!-- Generated template for the PostComponent component -->
<div>
<section class="status-card">
    <ion-item-divider sticky no-lines>
        <ion-avatar item-start>
          <img class="no-resize" [src]="post.profileImgURL || 'assets/imgs/logo/profile.png'">
        </ion-avatar>
        <h2 class="post-username"> <span class="username" (click)="gotoUser(post.uid)">{{post.userName}}</span>
          <span *ngIf="post?.isShared"> shared 
            <span *ngIf="post.originalUid == post.uid">his own post </span>
            <span *ngIf="post.originalUid != post.uid" (click)="gotoUser(post.originalUid)">{{post.originalUserName}}'s post </span> 
          </span>
        </h2>
        <p class="post-date">{{post.createdAt | formatDate}}</p>
        <button color="secondary" ion-button clear item-end icon-only color="dark" *ngIf="currentUid == post.uid" (click)="deletePost(post)">
            <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-divider>
  <div *ngIf="post.content?.type == 'text'">
    <div class="post-content" (click)="showPostDetail(post)">
      <p class="text">{{post.content?.text}}</p>
    </div>
  </div>
  <div *ngIf="post.content?.type == 'image'">
    <div (click)="showPostDetail(post)">
      <p class="text-padding-left">{{post.content?.text}}</p>
      <img class="post-img" [src]=" post.content?.image || 'assets/imgs/logo/placeholder.png'">
    </div>
  </div>
  <span class="like-count" *ngIf="userLiked?.length>0">{{userLiked?.length}} Like<span *ngIf="userLiked?.length>1">s</span></span>
  <button class="button-like" ion-button icon-only round small [color]="(userLikedPost[post.key] === true?'primary':'light')"
    (click)="likePost(post.key,post.likeCount, userLikedPost[post.key] != true)">
    <ion-icon name="thumbs-up"></ion-icon>
  </button>
  <button class="button-share" ion-button icon-only round small outline [color]="'primary'" (click)="sharePost(post)">
    <ion-icon name="share"></ion-icon>
  </button>

</section>
<ion-list *ngIf="showlikes" >
  <ion-list-header *ngIf="userLiked?.length>0">
    People who liked the post:
  </ion-list-header>
  <ion-item-divider *ngFor="let user of userLiked" (click)="gotoUser(user.uid)">
    <button  item-start class="button-like" ion-button icon-only round small [color]="'primary'">
      <ion-icon name="thumbs-up"></ion-icon>
    </button>
    <h2 class="post-username">
      {{user?.name}}
    </h2>
  </ion-item-divider>
</ion-list>
</div>